################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreAppAspDotNet/.vs/BookStoreAppAspDotNet/v16


/BookStoreAppAspDotNet/BookStoreAppAspDotNet/wwwroot/lib
