@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Here Is the List of All the books
</h1>
<button class="btn btn-primary">Click Me </button>