@using BookStoreAppAspDotNet.Models
@model BookModel


<div class="container py-3">

    <div class="row">

        <div class="col-md-6">

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/book1w.jpg" class="d-block w-100 " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/book1w.jpg" class="d-block w-100 " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/book2w.jpg" class="d-block w-100 " alt="...">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="col-md-6">

            <div class="row">

                <div class="col-md-12">

                    <h1 class="display-5"></h1>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 text-primary">
                    <span class="form-label  ">By:</span>
                    <span class="font-monospace">AuthorName</span>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    <p class="description">

                        This book will cover all the details about Asp.Net Core MVC 5. This book is designed specially for freshers to pro knowledge. After reading this book you will be able to develop fully functional application using Asp.Net Core MVC 5.
                    </p>

                </div>

            </div>


            <div class="row">
                <div class="col-md-4">

                    <button class=" btn btn-outline-primary"> Read Now</button>

                </div>

            </div>

            <hr />
            <ul class="list-group">
                <li class="list-group-item"> <span class=" text-primary">Category -</span> Action</li>
                <li class="list-group-item"> <span class=" text-primary">Total Pages -</span> 1024</li>
                <li class="list-group-item"> <span class=" text-primary">Language -</span> English</li>

            </ul>
        </div>


    </div>


</div>
